body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fdfdfd;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}

.buttons {
    margin-top: 20px;
  }
  
  .yes-button, .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }
  
  .yes-button {
    background-color: #4caf50;
    margin-right: 10px;
  }